:root{
    --white: #fef8e7;
    --pink: #e2d0ca;
    --brown: #b6947c;
    --burgundy: #8e2d2d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--white);
}

body{
    overscroll-behavior: none;
}