@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root{
    --white: #fef8e7;
    --pink: #e2d0ca;
    --brown: #b6947c;
    --burgundy: #8e2d2d;

    --max-width: 1440px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

html, body{
    background-color: var(--white);
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
}

main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

section{
    position: relative;
    width: 100%;
    left: 50%;
    margin-bottom: 50vh;
    transform: translateX(-50%);
}

.scroll_container{
    position: relative;
    width: 100%;
    height: 100%;
}    







/* -------------------------------------------HEADER SECTION-------------------------------------------  */

#hero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hero_container{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: var(--max-width);
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 150px;
    margin-top: 150px;

}
.hero_text{
    flex-basis: 60%;
    margin-top: 100px;

}

.hero_title{
    overflow: hidden;
}

.hero_title h1 {
    overflow: hidden;
}


.hero_title_header{
    font-size: clamp(3rem, 5cqi, 5rem);
    color: var(--burgundy);
}


.hero_image{
    flex-basis: 30%;
}

.bubble_headshot{
    background: url(images/headshot.png);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
    height: 350px;
    width: 350px;
    box-shadow: 0 20px 5px 5px rgba(0,0,0,.2);
    animation: bubble-animation 6s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
.bubble{
    background: var(--pink);
    height: 150px;
    width: 150px;
    box-shadow: 0 10px 2px 2px rgba(0,0,0,.2);
    animation: bubble-animation 2.5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    margin-left: 250px;
}
@keyframes bubble-animation{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}




/* -------------------------------------------ABOUT SECTION-------------------------------------------  */
#about{
    display: flex;
    justify-content: center;
}

.about_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
}

.about_text{
    width: 45%;
    margin: auto;
    text-align: center;
    text-wrap: balance;
    font-size: 1.4rem;
}

/* -------------------------------------------PORTFOLIO SECTION-------------------------------------------  */
#portfolio{
    position: relative;
    height: 200%;
}

.sticky_portfolio{
    position: sticky;
    top:0;
    width: 100%;
    height: 50%;
}

.slider_container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects_slider{
    height: 100%;
    display: flex;
    width: min-content;
    overflow: hidden;
    will-change: transform;
}

.project{
    position: relative;
    width: 25vw;
    height: 100%;
    padding: 80px 20px 60px;
    display: flex;
    flex-direction: column;
        justify-content: center;

}

.image_container{
    position: relative;
    width: 100%;
    aspect-ratio: 9/12 ;
    overflow: hidden;
}

.project_image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}



/* -------------------------------------------CONTACT-------------------------------------------  */

.social-icons{
    margin-top: 15px;
}
.social-icons a{
   text-decoration: none;
   font-size: 50px;
   margin-right: 15px;
   margin-bottom: 50px;
   color: #ababab;
   display: inline-block;
   transition: transform 0.5s;
}
.social-icons a:hover{
   color: var(--burgundy);
   transform: translateY(-5px);
}
/* -------------------------------------------COPYRIGHT-------------------------------------------  */


.copyright-footer{
    margin-top: 100px;
    width: 100vw;
    background: var(--brown);
    height: 60px;
}
.copyright-footer center{
    color: var(--white);
    padding: 20px 20px;
}


/* -------------------------------------------SMALL SCREENS-------------------------------------------  */



@media only screen and (max-width: 1100px){
    p{
        font-size: .8rem;
    }

    #portfolio{
        height: 400%;
    }

    .sticky_portfolio{
        height: 25%;
    }

    .project {
        width: 50vw;
    }
}

@media only screen and (max-width: 600px){
    #portfolio{
        height: 800%;
    }

    .sticky_portfolio{
        height: 12.5%;
    }

    .project {
        width:100vw ;
    }

    
}